.nw-first-section{
    padding:clamp(50px, 3.7736vw, 60px) 0 0;
    position: relative;

    &__bg{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        height: auto;
        width: 100%;

        img,picture{
            width: 100%;
            height: 100%;
        }

        @include small-tablet{
            display: none;
        }
    }

    &__image{
        position: absolute;
        bottom: 0;
        right: 12%;
        z-index: 0;
        width: clamp(315px, 40.566vw, 645px);
        height: clamp(501px, 66.5409vw, 1058px);

        img,picture{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: (1600px)) {
            right: 5%;
        }

        @include desktop{
            right: -1.5%;
        }

        @include laptop{
            width: clamp(315px, 28.658vw, 400px);
            height: clamp(501px, 45.516vw, 645px); 
        }

        @media (max-width: (1100px)) {
            width: 315px;
            height: 501px;
            right: -9.5%;
        }

        @include tablet{
          right: 0;
          width: clamp(210px, 23.926vw, 245px);
          height: clamp(340px, 38.574vw, 395px);
        }

        @include small-tablet{
            margin-top: 30px;
            position: static;
            width: 315px;
            height: 501px;
            align-self: center;
        }
    }

    &__bottom{
        position: relative;
        padding: 36px 0 52px;
        display: flex;
        flex-direction: column;
        grid-gap: 20px;

        &::before{
            position: absolute;
            content: '';
            width: 100vw;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            background: rgba(var(--bg-c),1.0);
            z-index: -1;
        }

        @include small-tablet{
            margin-top: -10px;
            padding: 36px 0 0;
        }
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 50px;
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;

        @include small-tablet{
            align-items: center;
        }
    }

    &__deskr{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family2);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include small-tablet{
            text-align: center;
        }

        @include ios{
            max-width: 258px;
            align-self: center;
        }
    }

    &__text{
        color: rgba(var(--cl-a),1.0);
        font-family:var(--font-family);
        font-size: clamp(16px, 1.2579vw, 20px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 700px;

        @include tablet{
            max-width: 100%;
            text-align: center;
        }
    }

   
}