<footer>
  <div class="h2o-container h2o-container--mode">
    <div class="h2o-footer">
    
      <div class="h2o-footer-info">
        <span class="h2o-footer-info__title">POWERED BY</span>
      <ul class="h2o-footer-info__list">
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-egt">
          </span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-novomatic">
          </span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-igrosoft">
          </span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-endor">
          </span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-amatic">
          </span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-alps">
          </span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-arist">
          </span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-unic">
          </span>
        </li>
        <li class="h2o-footer-info__item">
          <span class="h2o-footer-info__icon h2o-icon-bgaming">
          </span>
        </li>
      </ul>
    </div>
      <div class="h2o-footer-payments">
        <picture>
          <source type='image/webp' srcset='img/index/partners.webp'>
          <img width='714' height='48' src='img/index/partners.png' alt='image'>
        </picture>      
      </div>

      <div class="h2o-footer__bottom">
        <span class="h2o-footer__copyright">© Все права защищены. 2009 - 2023 Admiral-XXX.</span>
      </div>
    </div>
  </div>
</footer>

