.nw-about-box{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    max-width: 792px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 28px 10px;
    grid-template-columns: 45% 55%;
    z-index: 2;


    &__title{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family2);
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include small-tablet{
            text-align: center;
        }
    }

    &__subtitle{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include small-tablet{
            text-align: center;
        }
    }

    &__top{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        grid-column: 1/-1;

        @include small-tablet{
            grid-column: initial;
            align-items: center;
        }
    }

    &__wrapp{
        display: flex;
        flex-direction: column;
        grid-gap: 2px;
        position: relative;

        @include small-tablet{
            grid-gap: 5px;
            align-items: center;
        }
    }

    &__label{
        grid-column: 1/-1;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.10);
        padding: 10px 20px;
        color: rgba(var(--cl-c),1.0);
        font-family: var(--font-family2);
        width: fit-content;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include small-tablet{
            
            grid-column: initial;
        }
    }

    &__icon{
        position: absolute;
        right: 12%;
        top: 50%;
        transform: translateY(-70%);

        @include small-tablet{
            display: none;
            position: static;
            transform: none;
            margin: 38px 0 22px;
        }

        &--mob{
            display: flex;
            @include for-small-tablet{
                display: none;
            }
        }
    }

    &__name{
        color: rgba(var(--cl-d),1.0);

        font-family: var(--font-family2);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;

        &--mode{
            color: rgba(var(--cl-c),1.0);
        }
    }

    &__value{
        color: rgba(var(--cl-d),1.0);

        font-family: var(--font-family2);
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: relative;

        @include small-tablet{
            font-size: 35px;
            text-align: center;
        }

        &--mode{
            color: rgba(var(--cl-c),1.0);
            padding-left: 20px;
            &::before{
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rgba(var(--bg-d),1.0);
                left: 0;
                top: 13px;

                @include small-tablet{
                    top: 8px;
                }
            }

            @include small-tablet{
                font-size: 20px;
            }
        }

      
    }

    @include small-tablet{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    &--mode{
        margin-bottom: 30px;
        .nw-about-box{

            &__wrapp{
                grid-gap: 0;
            }

            &__name{
                color: rgba(var(--cl-a),1.0);
                font-size: 20px;
            }

            &__value{
                color: rgba(var(--cl-a),1.0);
                font-family: var(--font-family);
                font-size: 16px;
                font-weight: 400;

                @include ios{
                    max-width: 200px;
                }
            }

            &__label{
                color: rgba(var(--cl-a),1.0);
            }
        }

        @include small-tablet{
            margin: 0;
        }
    }
}