.h2o-icon{
  

  &-logo{
    background-image: url(../img/sprite/logo.svg);
    width: 210px;
    height: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-clock{
    background-image: url(../img/index/smallDetails.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display: block;
  }

  &-vin{
    background-image: url(../img/index/smallDetails.png);
    background-position: -1px -38px;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    display: block;
  }

  &-star{
    background-image: url(../img/index/smallDetails.png);
    background-position: -1px -21.5px;
    background-repeat: no-repeat;
    width: 17px;
    height: 18px;
    display: block;
  }

  &-home{
    background-image: url(../img/index/side.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 51px;
    height: 47px;
    display: block;
  }

  &-games{
    background-image: url(../img/index/side.png);
    background-position: -107px 0;
    background-repeat: no-repeat;
    width: 55px;
    height: 47px;
    display: block;
  }

  &-action{
    background-image: url(../img/index/side.png);
    background-position: -164px 0;
    background-repeat: no-repeat;
    width: 46px;
    height: 47px;
    display: block;
  }

  &-tour{
    background-image: url(../img/index/side.png);
    background-position: -213px 0;
    background-repeat: no-repeat;
    width: 50px;
    height: 47px;
    display: block;
  }

  &-profile{
    background-image: url(../img/index/side.png);
    background-position: -265px 0;
    background-repeat: no-repeat;
    width: 52px;
    height: 47px;
    display: block;
  }

  &-wallet{
    background-image: url(../img/index/side.png);
    background-position: -317px 0;
    background-repeat: no-repeat;
    width: 48px;
    height: 47px;
    display: block;
  }

  &-currency{
    background-image: url(../img/index/jackpot.png);
    background-position: 0 calc(clamp(54px, 6.3107vw, 65px) * -1); 
    background-size: cover;
    background-repeat: no-repeat;
    width: clamp(26px, 3.1068vw, 32px);
    height: clamp(30px, 3.8835vw, 40px);
    display: block;
  }

  &-info{
    background-image: url(../img/index/info.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: block;
  }
  
  &-contacts{
    background-image: url(../img/index/contacts.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    display: block;
  }

  &-mail{
    background-image: url(../img/index/contacts.png);
    background-position: 0 -67px;
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    display: block;
  }

  &-arrow{
    background-image: url(../img/index/arrow.png);
    background-position: center  center;
    background-repeat: no-repeat;
    width: 17px;
    height: 14px;
    display: block;
    filter: brightness(500%);
  }

  &-acc{
    background-image: url(../img/sprite/arrow.svg);
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 14px;
    display: block;
  }

  &-chat{
    background-image: url(../img/index/contacts.png);
    background-position: 0 -99px;
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    display: block;
  }

  &-egt{
    background-image: url(../img/index/egt.png);
    width: 49px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-novomatic{
    background-image: url(../img/index/novomatic.png);
    width: 122px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-igrosoft{
    background-image: url(../img/index/igrosoft.png);
    width: 60px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-endor{
    background-image: url(../img/index/endor.png);
    width: 74px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-amatic{
    background-image: url(../img/index/amatic.png);
    width: 90px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-alps{
    background-image: url(../img/index/alps.png);
    width: 102px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-arist{
    background-image: url(../img/index/arist.png);
    width: 77px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-unic{
    background-image: url(../img/index/unic.png);
    width: 76px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-bgaming{
    background-image: url(../img/index/bgaming.jpg);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }



}