// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root {
// --------------- default global variable ---------------
  --body-bg: #1B0A3E;
  --body-font-size: 16px;
  --content-width: 1590px;
  --container-offset: 20px;

  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

// --------------- default scroll variable ---------------
  --scrollbar-thumb: #ffd800;
  // --scrollbar-thumb-hover: #00aff0;
  --scrollbar-track:  #202020;
  --scrollbar-track-hover: #202020;
  --overlay-bg: rgba(0, 0, 0, 0.5);

// --------------- default font-family variable ---------------
  --font-family: "GothamPro" , sans-serif; // var(--font-family);
  --font-family2: "GothamBlack" , sans-serif; // var(--font-family2);

// --------------- default text color variable ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#CAFD35)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#D31797)}; // rgba(var(--cl-d),1.0);

// --------------- default background color variable ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#33135D)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#CAFD35)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#1c0b3e)}; // rgba(var(--bg-e),1.0);
// --------------- default border color color variable ---------------
  --br-a: #60329C; // var(--br-a);
// -------------
}


